


 /*----------------------------*/
 /*                            */
 /*  EDIT THIS FILE TO APPLY   */
 /*  YOUR DESIRED STYLE!       */
 /*                            */
 /*----------------------------*/



/*--------- BACKGROUND ---------------------*/

html { 
	/*koko sivun tausta on valkoinen.
	Muuta haluamaksesi*/

	/*Jos määrität html-tagissa fontteja, 
	taustavärejä tai tekstin värejä,
	samat määritykset tulevat kaikkiin sisällä oleviin
	elementteihin. Näin voit määrittää esim. koko sivun 
	fontit, värit ym. ja sitten muuttaa haluamissasi
	elementeissä tyylin toiseksi.*/
	background: #EAF2EF; 
	font-family: 'Quattrocento', serif;
	
}

body { 
	
	/*Kaiken sisällön ympärillä on body. 
	Voit muuttaa myös bodyn taustaväriä tai
	esim. lisätä paddingin, jotta elementit eivät 
	olisi reunassa kiinni.*/
	
	/*Tällä koodilla voit tehdä niin, että yli 900px
	leveässä näytössä body-tagi jää vain 900px leveäksi,
	ja reunoille jää tyhjää. Voit muuttaa tätä miten haluat.*/
	max-width: 1020px;
	margin: auto; /*tämä keskittää body-tagin sivusuunnassa*/
	
	
}

/*--------- HEADER ---------------------*/

/*Header text on top of the menu*/
header h1 { 
	/*Pääotsikko*/

	/*Täällä kannattaa muokata background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Laita myös ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voit halutessasi myös esim. keskittää otsikon (text-align: center;)*/

	font-size: 40px;
	color: #EAF2EF;
	margin: 10px 0%;
	padding: 10px 0%;
	margin-top: 0;
	text-align: center;
	
}

header {
	background: #912751;
	margin-bottom: 20px;
}

/*--------- MAIN MENU ---------------------*/

/*Menu*/
#main-menu { 
	
	
	/*Voit tehdä tästä flexboxin, 
	niin valikon napit menevät vierekkäin*/

	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */
	
	/*Voi muokata täällä myös background-, color-arvoja.*/
		
	background: #EAF2EF;
	margin: 0%;
	padding: 1%;
	display: flex;
	justify-content: center;
	border: 1px solid #912751;
	font-weight: bold;
}

/*Menu item*/
#main-menu li {
	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voi muokata täällä myös background-, color-arvoja.*/
	max-width: 100%;
	margin: 0 55px;
	padding: 0;
	list-style-type: none; 
	border-bottom: 1px solid #912751;
	
}

/*Link in menu item*/
#main-menu a { 

	text-decoration: none; /*poistaa linkin alleviivauksen*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
	color: #912751;
	font-size: 16px;
}

/*Menu item when mouse over*/
#main-menu a:hover { 
	
	/*Tässä määritellään, miltä valikon linkki näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: #EAF2EF; 
	background: #912751; 
}

/*------- ARTICLE BUTTONS -------------------*/
/*Button in end of each article*/
.button { 
	/*saatat haluta tehdä napista aika samanlaisen
	kuin valikkolinkit, mutta toisenlainenkin 
	voi olla ihan tyylikäs*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
	
	/*Tämä on a-elementti, ja se on oletuksena 
		display: inline; 
	Siksi sen kokoa tai paikkaa ym. ei voi muuttaa.
	Jotta nappia on helpompi käsitellä, voi muuttaa sen 
		display: block;
		
	Ymmärtääksesi paremmin mitä on block ja inline ym., 
	katso tämä video: https://www.youtube.com/watch?v=9T8uxp5hQ60	
	*/

	/*Tällä koodilla saat fancyn varjon :) 
		box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
	*/
	background-color: #912751;
	border: none;
	color: #EAF2EF;
	padding: 15px 32px;
	text-align: center;
	display: inline;
	font-size: 16px;
	margin: 0px;
	cursor: pointer;
	
}

/*Button when mouse over*/
.button:hover { 
	/*Tässä määritellään, nappi näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: #912751; 
	background: #EAF2EF; 
	border:2px solid #912751;
	
	/*Voit halutessasi laittaa vaikka koko 
	artikkelin muuttumaan jotenkin hiukan, 
	kun sen päällä on kursori.. :) */
}


/*--------- ARTICLES ---------------------*/

/*Artikkeleiden ympärillä*/
main {
	/*Kaikki "artikkelit" ovat main-tagin sisällä.
	Jos pidät tämän flexboxina, artikkelit menevät
	vierekkäin leveässä näytössä. 
	ja sitten artikkeleihin (ks. alla) esim. ,
	jolloin artikkelit asettuvat vierekkäin.*/
	
	display: flex; flex-wrap:wrap; justify-content: center;
	
}

/*Frame of each "article"*/
article {
	max-width: 320px; /*Jos main on flexbox, 
	tämä tekee sen, että "artikkelit" mahtuvat vierekkäin.*/
	
	/*Yksittäisen artikkelin tausta:
	Saatat haluta  muokata täällä background-, color- 
	sekä font-size- ja font-family-arvoja.*/

	/*Tärkeää: Laita tässä marginaalit ja paddingit paremmin, 
	niin näyttää tyylikkäämmältä! Teksti, kuva ym. ei saa olla 
	reunaan asti, vaan reunassa pitää olla marginaali (teknisesti
	margin tai padding).*/
	margin: 20px 10px;
	padding: 0px;
}



/*article title*/
article h2 { 

	/*Yksittäisen artikkelin otsikko*/

	/*Kannattaa muokata täällä background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Saatat haluta muokata täällä myös 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/
	color: #912751;
	
}

/*article text*/
article p { 
	/*Artikkelin pienempi teksti*/

	/*Saatat haluta muokata täällä 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/
	font-family: 'Quattrocento Sans', sans-serif;
	color: #0D090A;
	font-size: 19px;
	margin: 30px 0;
}

/* "Images" */
.article-image { 
    max-width: 100%; /*Tämä tekee sen, että kuva ei mene yli reunasta.*/

	/*Kuva voi olla koko artikkelin levyinen tai pienempi. 
	Esim. alla olevalla kuvasta tulisi pienempi (=50%)
	ja teksti kiertää kuvaa (=float):
		width: 50%;
		min-width: 150px;
		float: left; 
	*/
	border:2px solid #912751;
}

/*-------- FOOTER ---------------*/

footer {
	/*Kannattaa laittaa footeriin vähintään padding 
	ja ehkä eri taustaväri, jotta se erottuu hiukan.*/
	background: #912751; 
	color: #EAF2EF;
	margin: 0px;
	margin-top: 60px;
	padding: 10px;
	font-family: 'Quattrocento Sans', sans-serif;
}

